[user]
	email = bryce_kelleher@hotmail.com
	name = brycek
[alias]
	a = add
	b = branch
	c = commit
	d = diff
	g = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
	k = !gitk --all
	s = status
	di = diff
	dt = difftool
	ci = commit
	co = checkout
	br = branch
	bd = branch -d
	st = status
[diff]
	tool = gvimdiff
[difftool]
	prompt = 0
[color]
	ui = true
[push]
	default = simple
